---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

***PUBLICATIONS***

***Submitted manuscripts and preprints***

Mulkey KM, T Adewumi and **RL Unckless.** 2025. Specificity of
*Drosophila innubila* Nudivirus Infection in Drosophila Cell Culture.
*bioRxiv* 2025.06.09.658616. (in re-review at *Virology*)

Schedl ME, KM Mulkey and **RL Unckless.** 2025. The study of the
*Drosophila innubila* Nudivirus in cells and flies. *bioRxiv*
2025.06.06.658368. (in revision at *PLoS One*)

Gupta A and **RL** **Unckless**. 2024. Pathogenicity across variation in
microbial virulence and host resistance. *bioRxiv* 2024.10.02.616271.
(in review at *mSphere*)

**Unckless, RL**. 2023 Meiotic drive, postzygotic isolation, and the
Snowball Effect. *bioRxiv*: 2023-2011. (in revision at *Genetics*)

**Unckless, RL**, PA Lansdon and BD Ackley. 2020. A comparative analysis
of *Caenorhabditis* and *Drosophila* transcriptional changes in response
to pathogen infection. *bioRXiv.* Doi: 10.1101/2020.03.04.977595.

***[Research publications since KU faculty appointment:]{.underline}***

Brady, MJ, A Gupta, JI Gent, KW Swentowsky, **RL Unckless** and RK Dawe.
2025. Conflicting kinesin-14s in a single chromosomal drive haplotype.
*Genetics:* iyaf091*.* Doi: 10.1093/genetics/iyaf091.

Clark, N, CT Hittinger, H Li-Byarlay, A Rokas, T Sackton and **RL
Unckless.** 2025. Integrating Intermediate Traits in Phylogenetic
Genotype- to-Phenotype Studies. *Integrative and Comparative Biology*:
icaf037. Doi: 10.1093/icb/icaf037.

Mullinax SR, Darby AM, Gupta A, Chan P, Smith BR and **Unckless RL**.
2025. A suite of selective pressures supports the maintenance of alleles
of a Drosophila immune peptide. *eLife* 12:RP90638.

Perlmutter JI, Schedl ME and **Unckless RL**. 2025. Wolbachia enhances
the survival of Drosophila infected with fungal pathogens. bioRxiv**:**
2023-2009. *BMC Biology* 23, 42.

Zakerzade R, Chang CH, Chatla K, Krishnapura A, Appiah SP, Zhang J,
**Unckless RL**, *et al*. 2025. Diversification and recurrent adaptation
of the synaptonemal complex in Drosophila. *PLOS Genetics* 21(1):
e1011549.

Gupta A and **Unckless RL** 2024. Autosomal suppression of sex-ratio
meiotic drive influences the dynamics of X and Y chromosome coevolution.
*Journal of Heredity* 115(6): 660--671.

Hernandez JFL, Rubinstein BY, **Unckless RL** and Zanders SE. 2024.
Modeling the evolution of *Schizosaccharomyces pombe* populations with
multiple killer meiotic drivers. *Genes\|Genomes\|Genetics* 14(9):
jkae142.

Perlmutter JI, Chapman JR, Wilkinson MC, Nevarez-Saenz I, and **Unckless
RL**. 2024. A single amino acid polymorphism in natural Metchnikowin
alleles of Drosophila results in systemic immunity and life history
tradeoffs. *PLoS Genetics* 20(3): e1011155.

Vertacnik KL, Herrig DK, Godfrey RK, Hill T, Geib SM, **Unckless RL**,
*et al.*. 2023. Evolution of five environmentally responsive gene
families in a pine‐feeding sawfly, Neodiprion lecontei (Hymenoptera:
Diprionidae). Ecology and Evolution 13**:** e10506.

Alhammad YM, Parthasarathy S, Ghimire S, Kerr CM, O'Connor JJ,
Pfannenstiel J, Chanda D, Miller DA, Baumlin M, Salath M, **Unckless
RL**, Zuniga S, Enjuanes L, More S, Channappanavar R, Fehr AR. 2023.
SARS-CoV-2 Mac1 is required for IFN antagonism and efficient virus
replication in cell culture and in mice. *PNAS* 120: e2302083120.

Schedl ME, Nguyen NH, **Unckless RL** and Perlmutter JI. 2023.
Maintenance and Evaluation of Wolbachia Male-Killers of Dipterans, pp.
29-53 in *Wolbachia: Methods and Protocols*. Springer US New York, NY.

Smith BR, Patch KB, Gupta, Knoles EM, **Unckless RL**. 2023. The genetic
basis of variation in immune defense against *Lysinibacillus fusiformis*
infection in *Drosophila melanogaster*. *PLoS Pathogens*: 19(8):
e1010934. Doi: 10.1371/journal.ppat.1010934.

Ma W, Knoles EM, Patch KB, Shoaib MM, and **Unckless RL**. 2022. Hoisted
with his own petard: How sex-ratio meiotic drive in Drosophila affinis
creates resistance alleles that limit its spread. *Journal of
Evolutionary Biology:* 35:1765-1776. (doi: 10.1111/jeb.14077).

Meisel, RP, Asgari D, Schlamp F, and **Unckless RL**, 2022. Induction
and inhibition of Drosophila X chromosome gene expression are both
impeded by the dosage compensation complex. *G3: jkac165.* (doi:
10.1093/g3journal/jkac165).

Ochs, ME, McWhirter RM, **Unckless RL**, Miller III DM, Lundquist EA.
2021. *Caenorhabditis elegans* ETR-1/CELF has broad effects on the
muscle cell transcriptome, including genes that regulate translation and
neuroblast migration. *BMC Genomics:* 23:13. (doi:
10.1186/s12864-021-08217-6).

Hill, T, **Unckless RL** and Perlmutter JI. 2021. Positive selection and
horizontal gene transfer in the genome of a male-killing *Wolbachia*.
*Molecular Biology and Evolution:* 39: msab303. (doi:
10.1093/molbev/msab303).

Hill, T, Rosales-Stephens HL and **Unckless RL**. 2021. Rapid divergence
of the copulation proteins in the *Drosophila* *dunni* group is
associated with hybrid post-mating-prezygotic incompatibilities. *G3:*
11:jkab050*.* (doi: 10.1093/g3journal/jkab050)*.*

Hill T, and **Unckless RL**. 2021. Adaptation, ancestral variation and
gene flow in a 'Sky Island' *Drosophila* species. *Molecular Ecology:*
30: 83-99.

Hill T, and **Unckless RL**. 2020. Recurrent evolution of high virulence
in isolated populations of a DNA virus. *eLife*: e58931.

Price TAR, Windbichler N, **Unckless RL** ...(19 total authors). 2020.
Resistance to natural and synthetic gene drive systems. *Journal of
Evolutionary Biology:* 33:1345-1360.

Nunez MAB, Sabbarini IM, Eide IM, **Unckless RL** and Zanders SE. 2020.
Atypical meiosis can be adaptive in outcrossed *S. pombe* due to *wtf*
meiotic drivers. *eLife*: 9:e57936.

Chapman, JR, Dowell MA, Chan R and **Unckless RL.** 2020. The genetic
basis of natural variation in *Drosophila melanogaster* immune defence
against *Enterococcus faecalis*. *Genes*: 11:234.

**Unckless, RL** and Orr HA. 2020. The population genetics of
evolutionary rescue in diploids: X chromosomal vs. autosomal rescue.
*The American Naturalist*: 195: 561-568.

Hill, T and **RL Unckless**. 2019. A deep learning approach for
detecting copy number variation in next generation sequencing. *G3:
Genes, Genomes, Genetics* 9: 3575-3582.

Hanson, MA, B Lemaitre, and **RL Unckless.** 2019. Dynamic evolution of
antimicrobial peptides underscores trade-offs between immunity and
ecological fitness. *Frontiers in immunology* 10: 2620.

Chapman, JR, T Hill and **RL Unckless.** 2019. Balancing selection
drives the maintenance of genetic variation in *Drosophila*
antimicrobial peptides. *Genome Biology and Evolution.* 11: 2691-2701.

Benomar, S, KC Evans, **RL Unckless** and JR Chandler. 2019. Efflux
pumps in Chromobacterium species increase antibiotic resistance and
promote survival in a co-culture competition model. *Applied and
environmental microbiology* 85: e00908.

Lea, JK and **RL Unckless**. 2019. An assessment of the immune costs
associated with meiotic drive chromosomes in Drosophila. *Proceedings of
the Royal Society B*. 286: 20191534.

Perlmutter, JI, **RL Unckless**, SR Bordenstein, DP LePage, J Metcalf, T
Hill, J Martinez, FM Jiggins, SR Bordenstein. 2018. The phage gene *wmk*
is a candidate for male killing by a bacterial endosymbiont. *PLoS
Pathogens* 15: e1007936.

Zanders, SE, and **RL Unckless**. 2019. How meiotic drivers selfishly
drive infertility. *Current Biology* 29: R512-R520.

Duxbury EM, Day JP, Maria Vespasiani D, Thüringer Y, Tolosana I, Smith
SC, Tagliaferri L, Kamacioglu A, Lindsley I, Love L, **Unckless RL**,
Jiggins FM, Longdon B. 2019.Host-pathogen coevolution increases genetic
variation in susceptibility to infection. *Elife* 8: e46440.

Hill T, Koseva BS, **Unckless RL**. 2019. The genome of Drosophila
innubila reveals lineage-specific patterns of selection in immune
genes*. Mol Biol Evol.* 36: 1405-1417.

Pieper, KE, **RL Unckless** and KA Dyer. 2018. A fast-evolving X-linked
duplication of *importin-alpha2* is overexpressed in *sex-ratio* drive
in *Drosophila neotestaca*. Molecular Ecology 27: 5165-5179. doi:
10.1111/mec.14928.

Smith, BR and **RL Unckless.** 2018. Draft genome of Lysinibacillus
fusiformis Strain Juneja, a laboratory-derived pathogen of Drosophila
melanogaster. *Genome Announcements* 6(5), e01571-17.
doi:10.1128/genomeA.01571-17.

Hill, T and **RL Unckless**. 2018. The dynamic evolution of the
*Drosophila* *innubila* Nudivirus. *Infection, Genetics and Evolution*
57: 151-157. doi:10.1016/j.meegid.2017.11.013.

Ahmed-Braimah, YH, **RL Unckless** and AG Clark. 2017. Evolutionary
dynamics of male reproductive genes in the *Drosophila virilis* subgroup
*G3: Genes, Genomes, Genetics*. 7: 3145-3155. doi: 10.1534/g3.117.1136.

Hill, T and **RL Unckless.** 2017. Baculovirus molecular evolution via
gene turnover and recurrent positive selection of key genes. *Journal of
Virology* 91: e01319-17. doi: 10.1128/JVI.01319-17.

**Unckless, RL,** AG Clark and PW Messer. 2017. Evolution of resistance
against CRISPR/Cas9 gene drive. *Genetics* 205:827-841.
doi: 10.1534/genetics.116.197285. (Highlighted article, Journal Cover,
covered in Nature, Quanta and Nova magazines)

Akhund-Zade, J, AO Bergland, SO Crowe and **RL Unckless**. 2017. The
genetic basis of natural variation in Drosophila (Diptera:
Drosophilidae) virgin egg retention. *Journal of Insect Science* 17:
1-9. doi: 10.1093/jisesa/iew094.

Lindholm, AK, ... **RL Unckless**, *et al.* (22 authors). 2016. The
ecology and evolutionary dynamics of meiotic drive. *Trends in Ecology
and Evolution* 31:315-326. doi:10.1016/j.tree.2016.02.001.

***[Research publications from prior to arrival at KU:]{.underline}***

**Unckless, RL** and BP Lazzaro. 2016. The potential for adaptive
maintenance of diversity in insect antimicrobial peptides.
*Philisophical Transactions of the Royal Society B* 371:20150291. doi:
10.1098/rstb.2015.0291.

**Unckless, RL,** VM Howick and BP Lazzaro. 2016. Convergent balancing
selection on an antimicrobial peptide in *Drosophila*. *Current Biology*
26:257-262. Doi: 10.1016/j.cub.2015.11.063. (F1000 recommended)

**Unckless, RL** and AG Clark. 2015. Driven to extinction: on the
probability of evolutionary rescue from sex-ratio meiotic drive. bioRxiv
doi: http://dx.doi.org/10.1101/018820.

**Unckless, RL**, PW Messer T Connallon and AG Clark. 2015. Modeling the
Manipulation of Natural Populations by the Mutagenic Chain Reaction.
*Genetics* 201:425-431. doi: 10.1534/genetics.115.177592. (Highlighted
article) (F1000 recommended)

**Unckless, RL,** SM Rottschaefer and BP Lazzaro. 2015. The Complex
Contributions of Genetics and Nutrition to Immunity in Drosophila
melanogaster. *PLoS Genet* 11: e1005030.
doi:10.1371/journal.pgen.1005030.

**Unckless, RL,** SM Rottschaefer and BP Lazzaro. 2015. A genome-wide
association study for nutritional indices in *Drosophila.* *Genes,
Genomes and Genetics* 5:417-425. doi: 10.1534/g3.114.016477.

**Unckless, RL,** AM Larracuente and AG Clark. 2015. Sex-ratio meiotic
drive and Y-linked resistance in *Drosophila affinis. Genetics*
199:831-840. doi:10.1534/genetics.114.173948.

Orr, HA and **RL Unckless**. 2014. The population genetics of
evolutionary rescue. *PLoS Genetics* 10(8): e104551.

**Unckless, RL** and AG Clark. 2014. Sex-ratio meiotic drive and
interspecific competition. *Journal of Evolutionary* *Biology* 27(8):
1513-1521.

**Unckless, RL** and J Jaenike. 2012. Maintenance of a male-killing
Wolbachia in Drosophila innubila by male-killing dependent and
male-killing independent mechanisms. *Evolution* 66(3):678-689.

**Unckless, RL.** 2011**.** The potential role of the X chromosome in
the emergence of male-killing from mutualistic endosymbionts. *Journal
of Theoretical Biology* 291: 99-104.

**Unckless, RL.** 2011. A DNA virus of *Drosophila*. *PLoS ONE* 6:
e26564.

Jaenike J, **RL** **Unckless**, SN Cockburn, LM Boelio, and SJ Perlman.
2010. Adaptive evolution via symbiosis: recent spread of a defensive
symbiont in *Drosophila*. *Science* 329: 212-215. (F1000 recommended)

**Unckless, RL** and HA Orr. 2009. The population genetics of
adaptation: multiple substitutions on a smooth fitness landscape.
*Genetics* 183: 1079-1086.

Jaenike J, JK Stahlhut, LM Boelio and **RL Unckless**. 2009. Association
between *Wolbachia* and *Spiroplasma* within *Drosophila neotestacea*:
an emerging symbiotic mutualism. *Molecular Ecology* 19: 414-425.

**Unckless, RL** and JK Herren. 2009. Population genetics of sexually
antagonistic mitochondrial mutants under inbreeding*. Journal of
Theoretical Biology* 260: 132-136.

**Unckless, RL**, LM Boelio, JK Herren and J Jaenike. 2009. *Wolbachia*
as populations within individual insects: causes and consequences of
density variation in natural populations. *Proceedings of the Royal
Society B* 276: 2805-2811.

**Unckless, RL,** LM Boelio, C Cornish and KA Dyer. 2008. Isolation and
characterization of 30 polymorphic microsatellite loci from the
mycophagous fly *Drosophila innubila*. *Molecular Ecology Research* 8:
939-942.

**Unckless, RL** and HA Orr. 2009. Dobzhansky-Muller incompatibilities
and adaptation to a shared environment. *Heredity* 102: 214-217.

Orr, HA and **RL Unckless**. 2008. Population extinction and the
genetics of adaptation. *American Naturalist* 172: 160-169.

**Unckless, RL** and J Makarewicz. 2007. The impact of nutrient loading
from Canada Geese (*Branta canadensis*) on water quality, a mesocosm
approach. *Hydrobiologia* 586: 391-401.


